<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S&S - Home</title>
    <link rel="stylesheet" href="/stylesheets/cards.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!"><div class="loge">S</i><sub>&</sub><i>S</i></div></a>
       
            <form action="/login" method="post" class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-person-fill-gear"></i>
                    Iniciar Sesión
                </button>
            </form>
        </div>
    </div>
</nav>
      <header class="bg-dark py-5 banner">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"></h1>
                    
                </div>
            </div>
        </header>

    <main>
        <% products.forEach(product => { %>

            <div class="card mb-3" style="height: 300px;">
                <h3 class="card-header"><%= product.name %></h3>
                <div class="card-body">
                  <h5 class="card-title"><%= product.model %></h5>
                  <h6 class="card-subtitle text-muted"><%= product.description %></h6>
                </div>                
                 <% if(product.image_id != 0) { %>
                <% images.forEach(image => { %>
                    <% if(image.id == product.image_id) { %>
                            <img src="<%= image.url %>" alt="Imagen" id="<%= image.id %>">
                    <% } else { %>
                    <% } %>
                   <% }); %>
                <% } else { %>
                    <img src="images/none.jpg" alt="Imagen" id="<%= product.image_id %>">
                <% } %>
                <div class="card-footer text-muted">
                  <%= product.price %>$
                </div>
            </div>

        <% }) %>
    </main>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; S&S 2023</p></div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/scripts.js"></script>
</body>
</html>